identity/
state/
build/
peers-p2p.json
config-input.yaml
config-harvesting.properties
config-node.properties
config-user.properties
rest.json

api-harvest-assembly/data/api-node/*
api-harvest-assembly/data/rest-gateway/*
api-harvest-assembly/data/debug/*
api-harvest-assembly/data/mongo/*
api-harvest-assembly/data/api-node/00000/hashes.dat
api-assembly/data/rest-gateway/*
api-assembly/data/debug/*
api-assembly/data/mongo/*
api-assembly/data/api-node/*
api-assembly/data/api-node/00000/hashes.dat
*.bak
*.tmp

