[harvesting]

harvesterVrfPrivateKey = HARVESTER_VRF_PRIVATE_KEY
harvesterSigningPrivateKey = HARVESTER_PRIVATE_KEY
enableAutoHarvesting = true
maxUnlockedAccounts = 5
delegatePrioritizationPolicy = Importance
beneficiaryAddress = 
