[harvesting]

harvesterVrfPrivateKey = HARVESTER_VRF_PRIVATE_KEY
harvesterSigningPrivateKey = HARVESTER_PRIVATE_KEY
enableAutoHarvesting = false
maxUnlockedAccounts = 5
delegatePrioritizationPolicy = Importance
beneficiaryPublicKey = 0000000000000000000000000000000000000000000000000000000000000000 
